<%- include('../partials/header') %>

<section id="my-page">
    <!-- BASIC USER INFO -->
    <div class="profile-row">
        <div class="p-left"><img class="user-avatar" src="<%= user.avatar %>" alt="" ></div>
        <div class="right"><h3><strong><%= user.name %></strong></h3></div>
    </div>
    <div class="profile-row">
        <div class="p-left"><strong>Email: </strong></div>
        <div class="right"><strong><%= user.email %></strong> </div>
    </div>
        
    <!-- EDITABLE USER INFO -->
    <div class="profile-row">
        <div class="p-left"><strong>Age: </strong></div>
        <div class="right"><strong><%= user.age %></strong></div>
    </div>
    <div class="profile-row">
        <div class="p-left"><strong>Height (in): </strong></div>
        <div class="right"><strong><%= user.height %></strong></div>
    </div>
    <div class="profile-row">
        <div class="p-left"><strong>Weight (lb): </strong></div>
        <div class="right"><strong><%= user.weight %></strong></div>
    </div>
    <div class="profile-row">
        <div class="p-left"><strong>Gender: </strong></div>
        <div class="right"><strong><%= user.gender %></strong></div>
    </div>  
    <div class="profile-row">
        <div class="p-left"></div>
        <div class="right">
            <!-- Button to Edit USER INFO -->
            <button class="edit-btn" onclick="window.location.href='/my-page/edit'">Update My Info</button>
            <br><br><br>
        </div>
    </div>  
    


    <!-- Display Favorite Exercises -->
    <h4>Favorite Exercises:</h2>
    <p>Coming soon...</p>
    <br>

    <!-- Display user's most recent exercise logs -->
    <h4>My Exercise Log:</h4>
    <p>Coming soon...</p>
    <br>


</section>

  
<%- include('../partials/footer') %>