<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <nav>
        <img src="https://image.shutterstock.com/image-photo/funny-cat-ophthalmologist-appointmet-squinting-260nw-598805597.jpg">
        
        <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
        <a href="/exercises" <%- title === 'Exercises' ? 'class="active"' : '' %>>EXERCISES</a>
        <% if (user) { %>
            <p> Hi, <%=user.name%>!</p>
            <a href="/my-page/" <%- title === 'My Page' ? 'class="active"' : '' %>>MY PAGE</a>
            <a href="/exercises/create-new" <%- title === 'Create New Exercise' ? 'class="active"' : '' %>>CREATE NEW EXERCISE</a>
            <a href="/exercises/log" <%- title === 'Log Exercise' ? 'class="active"' : '' %>>QUICK LOG</a>
            <a href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>

