<%- include('../partials/header') %>

<h2>Edit Exercise Info Below:</h2>
<form action="/exercises/<%= exercise._id %>?_method=PUT" method="POST">
    
    <label>Exercise Name:
        <input type="text" name="name" value="<%= exercise.name %>">
    </label><br><br>

    <label>Description/Instruction: <br>
        <textarea type="text" name="description" id="" cols="30" rows="10"><%= exercise.description %></textarea>
    </label><br><br>
        
    <label>Body Part Worked:
        <!-- ice box vvv : set initial value-->
        <select name="bodyPart" selected = "<%= exercise.bodyPart %>">
            <option value="Upper Body">Upper Body</option>
            <option value="Lower Body">Lower Body</option>
            <option value="Full Body">Full Body</option>
            <option value="Other">Other</option>
        </select>
    </label><br><br>

    <label>Link to Demo Video:
        <input type="text" name="demo" value="<%= exercise.demo %>">
        <small>*Optional</small>  
    </label><br><br>

  <input class="add-exercise-btn" type="submit" value="Update Exercise">
  <br><br>
</form>


  
<%- include('../partials/footer') %>