<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Created By</th>
      <th>Body Part</th>
      <th>🤍s</th>
      <th># Logs</th>
      <th><!-- detail button --></th>
      <th><!-- fav / defav button --></th>
    </tr>
  </thead>
  <tbody>
    <% exercises.forEach(function(e) { %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.creatorName %></td>
        <td><%= e.bodyPart %></td>
        <td><%= e.favoritedBy.length %></td>
        <td><%= e.logs.length %></td>
        <td>
            <button class="detail-btn" onclick="window.location.href='/exercises/<%= e._id %>'">Detail</button>
        </td>
        <td>

            <!-- ice box: allow user to favorite/defavorite exercise from index view -->
            
            <!--if (user is on favorite list) show as favorited (button action = defavorite)-->
            <!-- <button id="fav-btn" onclick="">❤️</button> -->
            
            <!--else show as unfavorited (button action = favorite)-->
            <button id="unfav-btn" onclick="">🤍</button>

        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <br><br>
  <div class="edit-exercise-btn">
    <button class="add-exercise-btn" onclick="window.location.href='/exercises/new'">Add an Exercise</button>
  </div>


  
<%- include('../partials/footer') %>
