<%- include('../partials/header') %>

<section id="show-page">
    <!-- BASIC EXERCISE INFO -->
    <h1><strong><%= exercise.name %></strong></h1>
    <div><strong>Creator: </strong>
        <img class="exercise-creator-avatar" src="<%= exercise.creatorAvatar %>" alt=""><%= exercise.creatorName %> <br>
        <small>(userId#: <%= exercise.creatorId %>)</small>
    </div>
    <br>
    <div><strong>Body Part Worked: </strong> <%= exercise.bodyPart %></div>
    <br>
    <div><strong>Description: </strong> <%= exercise.description %></div>
    <br>
    <!-- if there's a demo video entered, link it -->
    <% if (exercise.demo) { %>
        <div><a href="<%= exercise.demo %>" target="_blank"><strong>Demo Video Link</strong></a></div>
        <br>
    <% } %>
    <!-- show how popular the exercise is -->
    <div><strong>Number of favorites: </strong> <%= exercise.favoritedBy.length %></div>
    <br>
    
    <!-- USER ACTIONS-->
    <!-- add a button to favorite/unfavorite the exercise -->
    <div> Add button to favorite/unfavorite</div> 
    <br>
    <!-- add a button to return to the exercise index list -->
    <div> Add button to return to exercise list</div> 
    <br>
    <!-- add a button to edit the exercise ***ONLY if user = creator-->
    <div><a href="/exercises/:id/edit">Edit Exercise</a></div> 
    <br>

    <!-- DISPLAY LOGS-->
    <!-- display all logs for this exercise (create a table)-->
    <div> Logs: ... to be added below ...</div>


</section>

  
<%- include('../partials/footer') %>