<%- include('../partials/header') %>

<section id="show-page">
    <!-- BASIC EXERCISE INFO -->
        <div class="div-header"><h1><strong><%= exercise.name %></strong></h1></div>
        <div class="row">
            <div class="left"><strong>Creator: </strong></div>
            <div class="right">
                <div><img class="exercise-creator-avatar" src="<%= exercise.creatorAvatar %>" alt=""></div>
                <div><%= exercise.creatorName %></div>
            </div>
        </div>
        <div class="row">
            <div class="left"><strong>Body Part Worked: </strong></div>
            <div class="right"><%= exercise.bodyPart %></div>
        </div>
        <div class="row">
            <div class="left"><strong>Description: </strong></div>
            <div class="right"><div><%= exercise.description %></div></div>
        </div>

        <div class="row">

            <% if (exercise.demo) { %>
                <div class="left"></div>
                <div class="demo-link"><a href="<%= exercise.demo %>" target="_blank"><strong>Demo Video Link</strong></a></div>
            <% } %>
        </div>
        <div class="row">
            <div class="left"><strong>🤍s: </strong></div>
            <div class="right"><%= exercise.favoritedBy.length %></div>
        </div>
    
    <!-- USER ACTIONS-->
    <div class="show-btns"> 
        <!-- add a button to return to the exercise index list -->
        <button class="cancel-btn" onclick="window.location.href='/exercises'">Back to Exercises</button>
        
        <!-- add a button to favorite/unfavorite the exercise (if user is logged in) -->
        <% if (user) { %>
        <button id="fav-btn" onclick="">🤍</button>
        <% } %>

        <!-- add a button to edit the exercise ***ONLY if user = creator-->
          
        <button class="edit-btn" onclick="window.location.href='/exercises/<%= exercise._id %>/edit'">Edit Exercise</button>
        <% if (user._id === exercise.creatorId) { %>  
        <% } %>
    </div> 
    <br><br><br>


    <!-- DISPLAY LOGS-->
    <!-- display all logs for this exercise (create a table)-->
    <div> </div>
    <h3>Create a New Exercise Log:</h3>
    <% if (user) { %>
      <form id="add-log-form" method="POST" action="/exercises/<%= exercise._id %>/logs">
        <label>Time & Date:</label>
        <input type="datetime-local" name="time">
        <br>
        <label>Weight Used (lb):</label>
        <input type="Number" name="weightUsed">
        <br>
        <label># Reps:</label>
        <input type="Number" name="reps">
        <br>
        <label># Sets:</label>
        <input type="Number" name="sets">
        <br>
        <label>Rest time between sets (min):</label>
        <input type="Number" name="restTime">
        <small>*optional</small>
        <br>
        <label>Notes:</label><small>*optional</small><br>
        <textarea name="notes" id="" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Add Log</button>
      </form>
    <% } %>
    <br><br>
    <h3>Exercise Logs:</h3>
    <% if (exercise.logs.length) { %>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Weight</th>
            <th>Reps</th>
            <th>Sets</th>
            <th>Work Vol.</th>
            <th>Work Eff.</th>
            <th><!--delete button--></th>
          </tr>
        </thead>
        <tbody>
          <% exercise.logs.forEach(function(l) { %>
            <tr>
              <td class="log-user"><img src="<%= l.userAvatar %>" alt="Avatar"><br>
                <%= l.userName %></td>
              <td><%= l.time %></td>
              <td><%= l.weightUsed %></td>
              <td><%= l.reps %></td>
              <td><%= l.sets %></td>
              <td><%= l.workVol %></td>
              <td><%= l.workEff %></td>
              <td>
                <% if (user && user._id.equals(l.userId)) { %>
                  <form action="/logs/<%= l._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Reviews Yet</h5>
    <% } %>

</section>

  
<%- include('../partials/footer') %>