<%- include('../partials/header') %>

<section id="show-page">
    <!-- BASIC EXERCISE INFO -->
        <thead><tr><h1><strong><%= exercise.name %></strong></h1></tr></thead>  
        <tbody>  
            <tr>
                <td><div><strong>Creator: </strong></div></td>
                <td><div>
                    <img class="exercise-creator-avatar" src="<%= exercise.creatorAvatar %>" alt=""><%= exercise.creatorName %> <br>
                    <!--<small>(userId#: <%= exercise.creatorId %>)</small>-->
                    </div>
                </td>
              </tr>
              <tr>
                <td><div><strong>Body Part Worked: </strong></div></td>
                <td><div><%= exercise.bodyPart %></div></td>
              </tr>
              <tr>
                <td><div><strong>Description: </strong></div></td>
                <td><div><%= exercise.description %></div></td>
              </tr>
              <tr>
                <!-- if there's a demo video entered, link it -->
                <% if (exercise.demo) { %>
                    <div><a href="<%= exercise.demo %>" target="_blank"><strong>Demo Video Link</strong></a></div>
                    <br>
                <% } %>
              </tr>
              <tr>
                <td><div><strong>🤍s: </strong></div></td>
                <td>
                    <!-- show how popular the exercise is -->
                    <div><%= exercise.favoritedBy.length %></div>
                </td>
              </tr>
            </tbody>
    </table>
    <br>
    <br>
    
    <!-- USER ACTIONS-->
    <div class="show-btns"> 
        <!-- add a button to return to the exercise index list -->
        <button onclick="window.location.href='/exercises'">Back to Exercises</button>
        
        <!-- add a button to favorite/unfavorite the exercise (if user is logged in) -->
        <% if (user) { %>
        <button onclick="">Fav / UnFav</button><br><br>
        <% } %>

        <!-- add a button to edit the exercise ***ONLY if user = creator-->
        <% if (user._id === exercise.creatorId) { %>    
        <button onclick="window.location.href='/exercises/<%= exercise._id %>/edit'">Edit Exercise</button>
        <% } %>
    </div> 
    <br><br><br>


    <!-- DISPLAY LOGS-->
    <!-- display all logs for this exercise (create a table)-->
    <div> </div>
    <h3>Create a New Exercise Log:</h3>
    <% if (user) { %>
      <form id="add-log-form" method="POST" action="/exercises/<%= exercise._id %>/logs">
        <label>Time & Date:</label>
        <input type="datetime-local" name="time">
        <br>
        <label>Weight Used (lb):</label>
        <input type="Number" name="weightUsed">
        <br>
        <label># Reps:</label>
        <input type="Number" name="reps">
        <br>
        <label># Sets:</label>
        <input type="Number" name="sets">
        <br>
        <label>Rest time between sets (min):</label>
        <input type="Number" name="restTime">
        <small>*optional</small>
        <br>
        <label>Notes:</label><small>*optional</small><br>
        <textarea name="notes" id="" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Add Log</button>
      </form>
    <% } %>
    <br><br>
    <h3>Exercise Logs:</h3>
    <% if (exercise.logs.length) { %>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Weight</th>
            <th>Reps</th>
            <th>Sets</th>
            <th>Work Vol.</th>
            <th>Work Eff.</th>
            <th><!--delete button--></th>
          </tr>
        </thead>
        <tbody>
          <% exercise.logs.forEach(function(l) { %>
            <tr>
              <td class="log-user"><img src="<%= l.userAvatar %>" alt="Avatar"><%= l.userName %></td>
              <td><%= l.time %></td>
              <td><%= l.weightUsed %></td>
              <td><%= l.reps %></td>
              <td><%= l.sets %></td>
              <td><%= l.workVol %></td>
              <td><%= l.workEff %></td>
              <td>
                <% if (user && user._id.equals(l.userId)) { %>
                  <form action="/logs/<%= l._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Reviews Yet</h5>
    <% } %>

</section>

  
<%- include('../partials/footer') %>